#root {
  width:100vw;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 720px) {
    padding: 4px;
    margin: 4px;
  }
}

@font-face {
  font-family: 'Geopardy';
  src: url('/geoparody\ hv.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Korinna';
  src: url('/ITC\ Korinna\ Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}